<section id="cfp">
  <div class="container py-4 py-xl-3">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="display-6 fw-bold mb-4"><i class="bi bi-megaphone"></i> 発表者募集</h2>
            <div class="row">
              <div class="container col-md-12 col-sm-12">
              <!-- 
                <img src="./img/group_picture.jpg" class="w-100 pb-3">
              -->
              </div>
            </div>
            <div class="row">
              <div class="container col-md-12 col-sm-12">
                <div class="overflow-auto">
                  <p>State of the Map Japan 2025の発表者を募集しています。</p>
                  <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSezzR8k55W_CyzlUJlXwaq5KvoEVZT3E4exHLX8Ff_C11E60A/viewform">発表エントリーフォーム</a></p>
                  <p>State of the Map Japan 2025で話題提供されたい方は上記エントリーフォームからお申し込みください。</p>
                  <p>今年のテーマは、"xxxxxx"です。</p>
                  <p>発表申し込みの締め切りは2025年xx月xx日までです。</p>
                  <p>みなさまの多様な話題提供をお待ちしております！</p>
                  <p class="notice">※ 応募者多数の場合、発表者を絞り込ませていただく場合がございます。予めご了承ください。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
