<section id="cfs">
  <div class="container py-4 py-xl-3">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="display-6 fw-bold mb-4"><i class="bi bi-trophy"></i> スポンサー募集</h2>
            <div class="row">
              <div class="container col-md-12 col-sm-12">
                <div class="overflow-auto">
                  <p>State of the Map Japan 2025のスポンサーを募集しています。</p>
                  <p>概要は以下のPDFファイルをご確認ください。</p>
                  <div class="embed-responsive" style="height: 600px;">
                    <iframe class="embed-responsive-item w-100" src="files/SotMJP2025_sponsor.pdf" style="height: 100%;" frameborder="0">
                      このブラウザではPDFを表示できません。<a href="files/SotMJP2025_sponsor.pdf">PDFをダウンロード</a>してください。
                    </iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
