<section class="even" id="committee">
  <div class="container pb-5">
    <h2 class="display-6 fw-bold mb-4"><i class="bi bi-chat-text"></i> 実行委員会について</h2>
    <div class="row justify-content-center">
      <div class="col-lg-10 mx-auto">

        <p>State of the Map Japan 2025 実行委員会は OpenStreetMap Japan Discord にて運用をしています。</p>
        <p>実行委員会に興味のある方は OpenStreetMap Japan Discord の <q>#51_sotmjp2025</q> に<a href="https://discord.gg/pNuUM99kUX"
            class="text-white fw-bold">参加</a> してください。議事録などは原則公開しています。</p>

        <h3>Contributor(順不同)</h3>
        <div class="row">
          <div class="col-lg-4">
            <ul>
              <li>三浦広志</li>
              <li>Hokkosha</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>松澤太郎(smellman)</li>
              <li>ikiya</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul>
              <li>坂ノ下勝幸</li>
              <li>Satoshi Iida(nyampire)</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
