<section id="news">
  <div class="container py-4 py-xl-3">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2 class="display-6 fw-bold mb-4"><i class="bi bi-newspaper"></i> お知らせ</h2>
            <div class="row">
              <div class="container col-md-12 col-sm-12">
              <!-- 
                <img src="./img/group_picture.jpg" class="w-100 pb-3">
              -->
              </div>
            </div>

            <div class="row">
              <div class="container col-md-12 col-sm-12">
                <div class="overflow-auto" style="height:440px;">
                  <ul>
                    <li>2025/08/29 併催イベント「West-Japan Wikimedia Conference 2025」のリンクを追加しました。</li>
                    <li>2025/08/27 後援に一般社団法人OSGeo日本支部(OSGeo.JP)を追加しました。</li>
                    <li>2025/07/28 キックオフミーティングを行い、Contributorを追加しました。</li>
                    <li>2025/06/26 ホームページを公開しました。</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
