<section id="pre-event">
    <div class="container py-4 py-xl-3">
      <div class="row justify-content-center">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2 class="display-6 fw-bold mb-4"><i class="bi bi-calendar-event"></i>プレイベント</h2>
              <div class="row">
                <div class="container col-md-12 col-sm-12">
                  <div class="overflow-auto">
                    <p>State of the Map Japan 2024では前日にプレイベントとしてもくもく会を開催します。</p>
                    <p>もくもく会は、OpenStreetMapに関する作業をするための時間です。地図の作成、データの整理、ツールの開発、ドキュメントの翻訳など、自分の興味のある作業を選んで取り組むことができます。</p>
                    <p>参加は自由です。OpenStreetMapのマッピングをされる方はマウスなどを必ずお持ちください！</p>
                    <ul>
                      <li>日時: 2025年2月14日(金) 10:00-17:00</li>
                      <li>
                        開催場所: EZOHUB SAPPORO <a href="{{ site.event.map }}"><i class="bi bi-map-fill"></i></a><br>
                        〒{{ site.event["zip"] }} {{ site.event["address"] }}
                      </li>
                    </ul>
                    <p>なお、同じ日程にて<a href="https://foss4g.hokkaido.jp/2024/">FOSS4G Hokkaido 2024 ハンズオン</a>が開催されます。そちらのご参加もご検討ください！</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
