<section id="timetable">
  <div class="container py-4 py-xl-2">
    <div class="card">
      <div class="card-body">
        <h2 class="display-6 fw-bold mb-4"><i class="bi bi-calendar"></i> タイムテーブル</h2>
        <div class="row justify-content-center">
          <div class="col">
            <div class="table-responsive">

              <table class="table table-light table-hover" style="overflow: inherit; word-break: break-word;">
                <thead>
                  <tr>
                    <th style="width: 20%">時間</th>
                    <th style="width: 80%">トラック</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>09:30 - 10:00</td>
                    <td>会場: 受け付け(FOSS4G Hokkaido 2024と合同)</td>
                  </tr>
                  <tr>
                    <td>10:00 - 10:10</td>
                    <td>会場: 開会式(FOSS4G Hokkaido 2024と合同)</td>
                  </tr>
                  <tr>
                    <td>10:10 - 11:00</td>
                    <td>配信準備</td>
                  </tr>
                  <tr>
                    <td>11:10 - 11:20</td>
                    <td>会場: 開会式</td>
                  </tr>
                  <tr>
                    <td>11:20 - 11:40</td>
                    <td>
                      <h5>
                        <span>基調講演</span><br />
                        WeeklyOSM編集の裏側
                      </h5>
                      <p class="speaker">三浦広志(OSMFJ)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>11:40 - 12:00</td>
                    <td>
                      <h5>
                        <span>スポンサー講演</span><br />
                        OpenStreetMapのデータ利活用 - LocationMindのユースケース -
                      </h5>
                      <p class="speaker">金杉 洋(LocationMind様)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>12:00 - 12:20</td>
                    <td><h5>どこまでをお店の名前にするのか問題</h5>
                      <p class="speaker">Alt9800</p>
                    </td>
                  </tr>
                  <tr>
                    <td>12:20 - 13:50</td>
                    <td>昼休憩</td>
                  </tr>
                  <tr>
                    <td>13:50 - 14:10</td>
                    <td><h5>OSMデータでも便利なDuckDB</h5>
                      <p class="speaker">Kanahiro Iguchi(MIERUNE Inc.)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>14:10 - 14:30</td>
                    <td><h5>OSMnxによる街路構造の分析と可視化</h5>
                      <p class="speaker">大塚昇(Georepublic Japan)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>14:30 - 14:50</td>
                    <td><h5>オリジナルのデザイン地図を作ってみた！〜OpenMapTilesとMaputnikを活用した地図スタイル〜</h5>
                      <p class="speaker">加藤 創(MIERUNE Inc.)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>14:50 - 15:10</td>
                    <td><h5>code for harimaでのOpenStreetMapの活用報告</h5>
                      <p class="speaker">harimawood(code for harima)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>15:10 - 15:20</td>
                    <td>休憩</td>
                  </tr>
                  <tr>
                    <td>15:20 - 15:40</td>
                    <td><h5>Overture Maps Foundationをどう読み解くか</h5>
                      <p class="speaker">森亮(合同会社CUNEMO)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>15:40 - 16:00</td>
                    <td><h5>OSMERS FUKUSHIMA活動報告</h5>
                      <p class="speaker">ikiya(OSMERS FUKUSHIMA)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>16:00 - 16:20</td>
                    <td><h5>非技術者道民マッパーのゆるふわマッピング</h5>
                      <p class="speaker">Hokkosha</p>
                    </td>
                  </tr>
                  <tr>
                    <td>16:20 - 16:30</td>
                    <td>休憩</td>
                  </tr>
                  <tr>
                    <td>16:30 - 16:50</td>
                    <td>
                      <h5>
                        <span>オンライン発表</span><br />
                        自分のためだけのOSM Planetを持ち歩きたい人のためのUNVT Portable
                      </h5>
                      <p class="speaker">古橋 大地(青山学院大学/ミラノ工科大学)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>16:50 - 17:10</td>
                    <td>
                      <h5>
                        <span>オンライン発表</span><br />
                        データで見るOpenStreetMap20年の軌跡
                      </h5>
                      <p class="speaker">大槻 あやめ(青山学院大学古橋研究室OB)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>17:10 - 17:20</td>
                    <td>クロージング、FOSS4G Hokkaido 2024へ移動</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
